<ion-card>
  <ion-card-header>
    <div class="ion-padding-start">
      <ion-card-title>Consultas</ion-card-title>
    </div>
  </ion-card-header>
  <div class="item-divider"></div>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <div class="ion-padding-start">
          <ion-label>Consultar por placa</ion-label>
        </div>
        <div class="ion-align-items-center" slot="end">
          <ion-button fill="clear" [routerLink]="['plate']">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
      <ion-item>
        <div class="ion-padding-start">
          <ion-label>Consultar por identificación</ion-label>
        </div>
        <div class="ion-align-items-center" slot="end">
          <ion-button fill="clear" [routerLink]="['id']">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
      <ion-item lines="none">
        <div class="ion-padding-start">
          <ion-label>Salir</ion-label>
        </div>
        <div class="ion-align-items-center" slot="end">
          <ion-button fill="clear" [routerLink]="['login']">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>